<!DOCTYPE html>
<html lang="en">
<head>
    <title>Update password</title>
</head>
<body>
    <form [formGroup]="updatepasswordForm" (ngSubmit)="updatepassword()">
        <div class="update">
            <div class="title">
                <p>Update password</p>
            </div>
            <div class="form">
                <div class="inputField">
                    <p class="text">Enter the new password and click on Reset Password button to reset your password</p>
                </div>
                <div class="inputField">
                    <input type="password" placeholder="New Password" id="password" name="password" class="input" required formControlName="password">
                </div>
                <div class="button">
                    <input type="submit" value="Reset Password" class="btn_sign">
                </div>
            </div>
        </div>
    </form>
</body>
</html>